/src/CommProtocol/MicrocontrollerApplication/*
!/src/CommProtocol/MicrocontrollerApplication/old
!/src/CommProtocol/MicrocontrollerApplication/src
!/src/CommProtocol/MicrocontrollerApplication/tests

/src/WindowsApplication/*
!/src/WindowsApplication/Command
!/src/WindowsApplication/Transmission
!/src/WindowsApplication/*.cs
!/src/WindowsApplication/*.resx
!/src/WindowsApplication/*.config

/src/HandController/*
!/src/HandController/*.ino