/src/MicrocontrollerSupport/.vs
/src/MicrocontrollerSupport/MicrocontrollerSupport.sln
/src/MicrocontrollerSupport/MicrocontrollerSupport/*.vcxproj*
/src/MicrocontrollerSupport/MicrocontrollerSupport/Debug/
/src/MicrocontrollerSupport/Debug/
!/src/Arduino/*.ino