/src/MicrocontrollerSupport/.vs
/src/MicrocontrollerSupport/MicrocontrollerSupport.sln
/src/MicrocontrollerSupport/MicrocontrollerSupport/*.vcxproj*
/src/MicrocontrollerSupport/MicrocontrollerSupport/Debug/
/src/MicrocontrollerSupport/Debug/

/src/HandController/*
!/src/HandController/*.ino

/src/WindowsApplication/*
!/src/WindowsApplication/WindowsApplication
/src/WindowsApplication/WindowsApplication/WindowsApplication.csproj
/src/WindowsApplication/WindowsApplication/bin
/src/WindowsApplication/WindowsApplication/obj
/src/WindowsApplication/WindowsApplication/App.config